{% extends 'home/base.html' %}
    {% block content %}
<style>
a:link {
  font-size:20px;
  text-decoration: none;
  display: inline-block;
  padding:5px;
}

a:hover {
  font-color:black;
}
h1,h2{
    color:white;
}

</style>

    <div class="container">
                    <div class="container col-lg-8 col-m-6 col-sm-6 ">

                        <h1>Friends</h1>
                        {% for user in friends %}

                            <div class="" style="margin: 30px;background-color: #cce5ff; border:1px solid transparent; border-radius:10px; padding: 15px;">

                                    {% if user.profile.profile_pic %}
                                        <img src="{{user.profile.profile_pic.url}}" alt="avatar" style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;"/>
                                    {% else %}
                                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
                                    {% endif %}
                                    <a href="{% url 'login:home' user.username %}">{{user.first_name}} {{user.last_name}}</a>
                                    <h2><a href="{% url 'home:lose_friend' user.pk%}" class="btn btn-danger btn-md"> <span class="glyphicon glyphicon-minus-sign"></span> Unfollow</a></h2>

                            </div>

                        {% endfor %}

                    </div>



            <div class="container col-lg-4 col-m-4 col-sm-2">

                        <h2>People you may know</h2>
                        <h2>
                            {% for user in users %}
                                {% if user != request.user and user not in friends  %}
                                    <div class="" style="margin: 30px;background-color: #cce5ff; border:1px solid transparent; border-radius:10px; padding: 15px;">
                                        <!--<div class="panel-thumbnail"><img src="/assets/example/bg_5.jpg" class="img-responsive"></div>-->
                                        <div class="panel-body">
                                          <!--<p class="lead"><a href="{% url 'login:home' user.username %}">{{user.first_name}} {{user.last_name}}</a><br></p>-->


                                          <p>
                                              {% if user.profile.profile_pic %}
                                                    <img src="{{user.profile.profile_pic.url}}" alt="avatar" style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;"/>
                                              {% else %}
                                                    <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
                                              {% endif %}
                                              <a href="{% url 'login:home' user.username %}">{{user.first_name}} {{user.last_name}}</a>
                                              <h2><a href="{% url 'home:add_friend' user.pk%}" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-plus-sign"></span> Follow</a></h2>
                                          </p>
                                        </div>
                                      </div>

                                {% endif %}
                            {% endfor %}
                        </h2>
                    </div>

        </div>


    {% endblock %}