<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	{% load staticfiles %}
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" ENCTYPE="multipart/form-data">
					{% csrf_token %}
					<span class="login100-form-title p-b-43">
						Edit <br><br>
						<h3>username - {{user.username}} </h3>
					</span>

					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="first_name"  value="{{user.first_name}}">
						<span class="focus-input100"></span>
						<span class="label-input100">First Name</span>
					</div>
                    <div class="wrap-input100" >
						<input class="input100" type="text" name="last_name" value="{{user.last_name}}">
						<span class="focus-input100"></span>
						<span class="label-input100">Last Name</span>
					</div>
                    <div class="wrap-input100 validate-input"  ">
						<input class="input100" type="text" name="email" value="{{user.email}}">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>

					<div class="wrap-input100 validate-input"  >
						<input class="input100" type="text" name="location" value="{{user.profile.location}}">
						<span class="focus-input100"></span>
						<span class="label-input100">location</span>
					</div>
					<div class="wrap-input100" >
						<input class="input100" type="text" name="bio" value="{{user.profile.bio}}">
						<span class="focus-input100"></span>
						<span class="label-input100">bio</span>
					</div>
					<div class="wrap-input100" >
						<input class="input100" type="number" name="phone" value="{{user.profile.phone}}">
						<span class="focus-input100"></span>
						<span class="label-input100">Phone</span>
					</div>
					<div class="wrap-input100" >
						<input class="input100" type="file" name="profile_pic" value="{{user.profile.profile_pic.url}}">
						<span class="focus-input100"></span>
						<span class="label-input100">Profile pic</span>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Save
						</button>
					</div>


				</form>

				<div class="login100-more" style="
background-image: url({% static 'login/images/bg-01.jpg'%});">
				</div>
			</div>
		</div>
	</div>





<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/js/main.js' %}"></script>

</body>
</html>








